<body style="background:  linear-gradient(to right, #93291e, #93291e);">
  <div class="ui large top fixed menu" style="background: linear-gradient(to bottom, #200122, #6f0000); box-shadow: 5px 5px 5px rgba(248, 38, 30, 0.5); ">
    <div class="item" style="left:50%; transform: translate(-50%,0%); font-family: 'Sunflower', sans-serif; font-size:20px; color: white; line-height: 20px;">Megabrand Products</div>
  </div>
  <div class="welcome">
    <div class="weltext">
      <hr>
      <hr>
      <h1 style="color: white; text-align: center;font-family: 'Cairo', sans-serif;"><b>Welcome to Megabrand Products!</b></h1>
      <div class="ui segment" style="background-image: linear-gradient(to right, black 100%, black 100%);">
          <p style="color: white; text-align: center; line-height: 200%; font-size: 120%; font-family: 'Ruda', sans-serif;">
              We supply the world's finest varieties of Tea and Spices.<br>
              The mesmerizing aroma and flavour of our Tea-leaf products will make your day.<br>
              Appetizing taste of our pure Spices will make your food more delectable. <br>
              Contact Us to know more and buy from us.
          </p>
      </div>
      <hr>
      <hr>
    </div>
  </div>

  <div class="ui raised segment container" style="background:linear-gradient(to top, #1d4350, #a43931); ">
    <div class="ui massive black ribbon label">Our Products</div>
    <hr>
    <hr>
    <div class="ui three stackable cards">
      <div class="card">
        <img src="../assets/tea2.jpg" style="width: 100%; height: 100%;">
        <div class="content">
          <div class="header">Tea Leafs</div>
          <div class="item">  Finest quality tea leafs of following varieties : </div>
              <div class="item">Black Tea</div>
              <div class="item">Green Tea</div>
        </div>
      </div>
      <div class="card">
        <img src="../assets/spice.jpg" style="width:100%; height: 100%;">
          <div class="content">
            <div class="header">Spices</div>
            <div class="content">
              <p>Appetizing and tasty Spices prepared from pure herbs.</p>
              <p>Red Chilli Powder,  Turmeric Powder and many more</p>
            </div>
          </div>
        </div>
        <div class="card">
          <img src="../assets/flour.jpg" style="width: 100%; height: 100%;">
            <div class="content">
              <div class="header">Cereal Products</div>
              <div class="content">
                Healthy and enriched Flour Products from different Cereal like Wheat and other Cereals
                <p>Quality Assured Products</p>
              </div>
            </div>
          </div>
    </div>
    <div class="ui small icon message">
      <i class="hand point right icon"></i>
      <div class="content">
      <div class="header">We are under development. Stayed tuned to buy products soon!!</div> 
    </div>
    </div>
  </div>
  

  
  <div class="ui fluid segment" style="  background:linear-gradient(to top, #1d4350, #a43931);">
    <div class="ui inverted segment" >
        <div class="ui large list" >
            <div class="item">
              <div class="header" style="color: white">Megabrand Products Pvt. Ltd. <i class="trademark icon"></i></div>
              Madhubhani, Bihar
            </div>
            <div class="item">
              <div class="header" style="color: white"> <i class="envelope icon"></i>Contact Us:
              </div>
              <hr>
              Email id: megabrandproducts@gmail.com
              <br>
              Find us on: 
              <a href="https://www.facebook.com/pg/Megabrand-Products-Pvt-Ltd-247901202414334/about/?ref=page_internal"><i class="large facebook icon"></i></a>
            </div>
          </div>
    </div>
  </div>
</body>