<body style="background:  linear-gradient(to right, #ed213a, #93291e);">
    <div class="ui massive top fixed secondary menu" style="font-family: 'Merienda', cursive; font-size: 24px;" >
    <a class="item"  style="color: white;"> Megabrand Products </a>
    <div class="center menu">
    <a class="item"  style="color: white;"> Products </a>
    <a class="item"  style="color: white;"> About Us </a>
    </div>
  </div>
  <div class="ui inverted fluid segment" class="welcome">
    
  </div>

  <div class="ui raised fluid segment">
    <div class="ui massive red ribbon label">
      Our Products
    </div>
    <div class="ui stacked fluid segment  container">
      <img class="ui small right floated image" src="../assets/sample.jpg">
      <div class="ui list">
        <div class="item">
          <div class="content">
            <div class="header">
              Best Spice Made in Market
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="ui stacked fluid segment  container">
      <img class="ui small left floated image" src="../assets/sample.jpg">
      <div class="ui list">
        <div class="item">
          <div class="content">
            <div class="header">
              Best Spice Made in Market
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="ui stacked fluid segment  container">
      <img class="ui right small left floated image" src="../assets/sample.jpg">
      <div class="ui list">
        <div class="item">
          <div class="content">
            <div class="header">
              Best Spice Made in Market
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  
  <div class="ui fluid segment" style="  background:linear-gradient(to top, #1d4350, #a43931);">
    <div class="ui inverted segment" >
        <div class="ui large list" >
            <div class="item">
              <div class="header" style="color: white">Megabrand Products Pvt. Ltd.</div>
              Madhubhani, Bihar
            </div>
            <div class="item">
              <div class="header" style="color: white">Contact Us:
              </div>
              Email id: megabrandproducts@gmail.com
            </div>
          </div>
    </div>
  </div>
</body>